:root {
  --background-light-theme: white;
  --textcolor-light-theme: black;
  --background-dark-theme: black;
  --textcolor-dark-theme: white;
}

[theme='light'] {
  --background-color: var(--background-light-theme);
  --text-color: var(--textcolor-light-theme);
}

[theme='dark'] {
  --background-color: var(--background-dark-theme);
  --text-color: var(--textcolor-dark-theme);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-menu {
  width: 20%;
  height: 100%;
  padding-right: 15px;
  margin-right: 15px;
  float: left;
}
