$theme-color: rgb(45, 54, 81);
$overlay-color: rgba(45, 54, 81, 0.9);
$overlay-color-light: rgba(45, 54, 81, 0.75);
$text-color-light: #FFFFFF;
$text-color-intense: #2D3651;
$text-color-semilight: rgb(99, 117, 136);
$text-color-post: #637588;
$hover-color: rgba(0, 0, 0, 0.1);
$input-color: rgba(255, 255, 255, 0.05);
$button-color: rgba(#2D3651, 0.8);
$button-color-transp: rgba(255, 255, 255, 0.1);

$button-color2: #D66926;
$button-color-hover: rgba(#2D3651, 1.0);
$background-color-light: #E5E5E5;
$background-color-light2: #EEEEEE;

$responsive-laptop: 992px;
$responsive-tablet: 768px;
$responsive-phone: 576px;