.section_about {
    padding-top: 112px;
    padding-bottom: $padding-mid;
}

.p_under_h2 {
    @include set-text($font-size-def, $font-weight-def, $line-height-def, center);
    padding-top: 50px;
    margin: 0 auto;
    max-width: $width-internal-element;
    color: $text-color-light;
}