.section_achievements {
    background-color: $bckgrnd-color-high-intensity;
    padding: $padding-mid 0;

    >div {
        display: flex;
        gap: 45px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.cell_achiev {
    display: flex;
    gap: $gap;
    @include reset-mg-pd;

    >img {
        width: 50px;
        height: 50px;
    }

    >div {
        display: flex;
        @include reset-mg-pd;
        @include set-text($font-size-def, $font-weight-def, $line-height-def, left);
        flex-direction: column;
        gap: 10px;
        height: 44px;
        width: 71px;
        color: $text-color-inverse;
    }
}