.section_how_i_work {
    padding: var(--padding-mid) 0;
}

.extra_margin_bottom {
    margin-bottom: 57px;
}

.container_iframe {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}