.slide_container {
    width: 600px;
    height: 350px;
    position: relative;
    margin: 0;
    padding: 0;
}

.slide_container:focus-visible,
.slide_container:active
{
    border: 1px solid blue;
}

.prev, 
.next {
    cursor: pointer;
    user-select: none; 
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 30px; 
    line-height: 350px;
    width: auto;
    padding: 0 10px;
    height: 100%;
    top: 0;
    &:hover {
        background-color: rgba(83, 130, 200, 0.3);
    }
}

.prev {
    left: 0; 
}

.next {
    right: 0;
}

.pause {
    cursor: pointer;
    user-select: none; 
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 25px; 
    width: 25px;
    height: 40px;
    left: 50px;
    bottom: 0;
    border-radius: 4px;    
    &:hover {
        background-color: rgba(83, 130, 200, 0.3);
    }
}


.bullet_list {
    position: absolute;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 40px; 
    line-height: 40px;
    left: 80px;
    right: 80px;
    height: 40px;
}

.bullet_item {
    width: 25px;
    text-align: center;
    cursor: pointer;
    color: lightgray;
    border-radius: 4px;
}

.bullet_item:hover {
    background-color: rgba(83, 130, 200, 0.4);
}

.bullet_item_active {
    color: darkgray;
}


.slide_list {
    width: 100%;
    height: 100%;
    position: relative; 
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.slide_item {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    >p {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        position: absolute;
        width: 200px;
        height: 20px;
        left: calc(50% - 100px);
        top: calc(50% - 10px);
    }
}

.slide_active {
    display: block;
}