:root {
    font-family: 'Roboto', sans-serif;
    --color-dark: rgb(103, 103, 103);
    --width-max: 1240px;
    --gap: 20px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: var(--width-max);
    padding: 0 var(--gap);
    margin: 0 auto;
}

header {
    background-color: var(--color-dark);
    z-index: 5;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.search_form {
    display:flex;
    padding: var(--gap) 0;
    color: white;
    width: 100%;
    label {
        width: 100px;
        padding: 5px;
    }
    input {
        width: calc(100% - 100px);
        padding: 5px;
    }

    input:focus{
        outline: none;
    }
}

@keyframes process {
    from {width: 0%;}
    to {width: 100%;}
}

.indicator {
    display: none;
    height: 5px;
    background-color: cadetblue;
    animation-name: process;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.indicator_visible {
    display: block;  
}

.movies {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.movie-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: var(--gap);
    width: 25%;
    position: relative;

    > img {
        width: 100%;
    }

    > p {
        text-align: center;
        padding: auto;
        color: rgb(99, 99, 99);
        font-weight: 500;
    }

    >span {
        padding: 5px;
        background-color: rgba(55, 58, 58, 0.75);
        position: absolute;
        right: var(--gap);
        top: 150px;
        color: white;
    }
}