$bckgrnd-color: #F9F9F9;
$bckgrnd-color-mid-intensity: #EEEFF1;    
$bckgrnd-color-high-intensity: #34547A;  
$bckgrnd-color-high-intensity-h: #233954;  
$text-color-light: #727272;
$text-color-dark: #000000;
$text-color-inverse: #FFFFFF;
$gap: 20px;
$line-height-def: 26.25px;
$font-weight-def: 400;
$font-weight-hover: 600;
$font-size-def: 16px;
$width-internal-element: 540px;
$width-max: 1110px;
$padding-mid: 100px;
$padding-header: 80px;
$padding-write-me-bottom: 141px;