$bckgrnd-color: #F9F9F9;
$bckgrnd-color-mid-intensity: #EEEFF1;
$bckgrnd-color-high-intensity: #34547A;
$bckgrnd-color-high-intensity-h: #233954;
$text-color-light: #727272;
$text-color-dark: #000000;
$text-color-inverse: #FFFFFF;
$font-weight-hover: 600;

$screen-size-phone: 480px;
$screen-size-tablet: 768px;
