//https://www.figma.com/design/Xzmk5hBhdY8HsmcBkiuo1B/grid-template?node-id=1-276&t=H03RH2UHyOAN6vqP-0
@use "blocks/const" as *;
@use "blocks/mixins" as *;
@use "blocks/top";
@use "blocks/gallery";
@use "blocks/ready";
@use "blocks/form";
@use "blocks/posts";
@use "blocks/footer";

* {
    box-sizing: border-box;
}

:root {
    --gap-standard: 20px;
    --gap-large: 40px;
    --gap-xxl: 100px;
    --height-button: 60px;
    @media screen and (max-width: $responsive-laptop) {
        --height-button: 50px;
    }  
    @media screen and (max-width: $responsive-tablet) {
        --height-button: 40px;
    }    
    @media screen and (max-width: $responsive-phone) {
        --height-button: 40px;
    }  
}

body {
    @include reset-mg-pd;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
        @media screen and (max-width: $responsive-laptop) {
        max-width: $responsive-laptop;
        padding: 0 20px;
    }
    @media screen and (max-width: $responsive-tablet) {
        max-width: $responsive-tablet;
        padding: 0 20px;
    }
    @media screen and (max-width: $responsive-phone) {
        max-width: $responsive-phone;
        padding: 0 20px;
    }       
}

.button_std1 {
    display: block;
    height: var(--height-button);
    width: 350px;
    overflow: hidden;
    min-width: 50px;
    outline: none;
    border: 2px solid $button-color;
    margin: 0 auto;   
    background-color: $button-color;
    color: $text-color-light;             
    @include set-text(Roboto, 18px, 400, 100%, 0.1ex, center); 
    transition: all 0.2s ease-out;      
    @media screen and (max-width: $responsive-phone) {
        width: calc(100% - (2 * var(--gap-standard)));        
    }
}

.button_std1:hover {
    background-color: $button-color2;        
}